<?xml version='1.0' encoding='utf-8'?>
<widget id="at.parcivalltd.jchess" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>jchess</name>
    <description>A chess app</description>
    <author email="juliangabriel570@gmail.com" href="https://cordova.apache.org">
        Julian Gabriel
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
